@font-face {
    font-family: SF Pro Display;
    src: url(sf-pro-display/SFPRODISPLAYMEDIUM.OTF);
}

body {
    background: linear-gradient(90deg, #F9F9F9 -1.47%, #FFF 103.39%);
}

.p-6 {
    padding: 2.06rem 6rem 2.06rem 6rem !important;
}

/* NAVBAR */
.nav-item {
    padding: 0 2rem 0 0;
}

.nav-item .li a {
    color: #1F2937;
    font-size: 16px;
    font-family: SF Pro Display;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    word-wrap: break-word
}

.navbar .contact-btn {
    color: #F9FAFB;
    font-size: 16px;
    background-color: #374151;
    font-family: SF Pro Display;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
    border-radius: 0.375rem;
    padding: 0.75rem 1.5rem;
    margin-right: 0.75rem;
}

.navbar .user-btn{
    padding: 0.75rem;
    border-radius: 0.375rem;
    background-color: #F9FAFB;
    border-color: #374151;
}

.navbar .active::after{
    content: "";
    border-bottom: 2px #1F2937 solid;
    height: 100%;
    width: 80%;
    display: block;
}